
@model PricingVM
<!-- Start pricing -->
    <div class="container-lg py-5">
        <div class="col-md-12 m-auto text-center py-5">
            <h1 class="pricing-header h2 semi-bold-600">Pricing</h1>
            <p class="pricing-footer">
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut facilisis.
            </p>
        </div>


        <div class="row px-lg-3">

            @foreach (var item in Model.PricingCategories)
            {
                 <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                     <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body rounded-pill text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">@item.Position</h2>
                        <p>$@item.PricePerYear</p>
                        <ul class="pricing-table-body text-start text-dark px-4 list-unstyled light-300">
                            <li>@Html.Raw(@item.Users)</li>
                            <li>@Html.Raw(@item.Space)</li>
                            <li>@Html.Raw(@item.About)</li
                            <li>@Html.Raw(@item.AboutPrice)</li>
                          

                        </ul>
                        <div class="pricing-table-footer pt-5">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Get Now</a>
                        </div>
                    </div>
                </div>

      
            
            </div>
            }
           
        </div>
    </div>
    <!-- End Content -->





    <!-- Start Pricing Horizontal Section -->
    <section class="bg-light pt-sm-0 py-5">
        <div class="container py-5">

            <h1 class="h2 semi-bold-600 text-center mt-2">Our Pricing</h1>
            <p class="text-center pb-5 light-300">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut facilisis.</p>

            <!-- Start Pricing Horizontal -->
           @foreach (var item in Model.OurPricings)
           {
             <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden my-5 bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">@item.Position</h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        <li><i class="bx bxs-circle me-2"></i>@item.Users</li>
                        <li><i class="bx bxs-circle me-2"></i>@item.Space</li>
                        <li><i class="bx bxs-circle me-2"></i>@item.About</li>
                        
                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>$@item.Price</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Get Now</a>
                    </div>
                </div>
            </div>           }
            <!-- End Pricing Horizontal -->

            <!-- Start Pricing Horizontal -->
            
        </div>
    </section>
    <!--End Pricing Horizontal Section-->

    <section class="container py-5">

      @foreach (var item in Model.AdditionPricings)
      {  <h1 class="h2 semi-bold-600 text-center pt-5">@item.Name</h1>
        <p class="text-center pb-5 light-300">
          @Html.Raw(@item.Info)
        </p>
          
      }

        <div class="row d-flex align-items-center pb-5">

            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
              @foreach (var item in Model.PricingImages)
              {
                  <img class="rounded float-right" src="./assets/img/@item.Image">  
              }
            </div>

            <div class="col-lg-6">

                <!-- Start Pricing List -->
               @foreach (var item in Model.LastPricingCategories)
               {
                    <div class="pricing-list shadow-sm rounded-top rounded-3 py-sm-0 py-5">
                    <div class="row p-2">
                        <div class="pricing-list-icon col-3 text-center m-auto text-secondary ml-5 py-2">
                            <i class="display-3 bx bx-package"></i>
                        </div>
                        <div class="pricing-list-body col-md-5 align-items-center pl-3 pt-2">
                            <ul class="list-unstyled text-center light-300">
                                <li class="h5 semi-bold-600 mb-0 mt-3">@item.Name</li>
                                <li>@item.Description</li>
                            </ul>
                        </div>
                        <div class="pricing-list-footer col-4 text-center m-auto align-items-center">
                            <a href="#" class="btn rounded-pill px-4 btn-primary light-300">$@item.Price</a>
                        </div>
                    </div>
                </div>
               }
                <!-- End Pricing List -->

               
                <!-- End Pricing List -->
                <p class="text-center"><a class="btn px-4 mt-4 mx-auto btn-outline-primary" href="#">Get Now</a></p>


            </div>
        </div>
    </section>

